.doc .admonitionblock .icon i.fa {
  font: normal normal normal 14px/1 Roboto;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: revert;
}

.doc i.fa {
  display: inline-block;
  background: no-repeat center / 1em 1em;
  filter: var(--doc-icon-filter);
  hyphens: none;
  font-style: normal;
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
}

.doc .admonitionblock td.content {
  padding: 1rem 1rem 0.75rem;
  background: var(--admonition-background);
  width: 100%;
  word-wrap: anywhere;
}

.doc .admonitionblock td.icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: 1;
  transform: translate(-0.5rem, -50%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) no-repeat left center / 2.075em 100%;
  border-radius: 0.5em;
  padding: 0.25em 0.075em;
}

.doc .admonitionblock td.icon i {
  display: inline-flex;
  align-items: center;
  width: auto;
  background-position-x: 0.5em;
  background-position-y: 0;
  filter: invert(100%);
  padding-left: 2em;
  vertical-align: initial;
}

.doc .admonitionblock td.icon i::after {
  content: attr(title);
  text-transform: uppercase;
  filter: invert(100%); /* NOTE reverse the filter on the icon */
  font-weight: var(--admonition-label-font-weight);
  font-style: normal;
  padding: 0 0.5em;
  margin: -0.05em; /* NOTE account for slight offset in font */
}

.doc .admonitionblock.caution td.icon i {
  background-image: url(../img/octicons-16.svg#view-flame);
}

.doc .admonitionblock.important td.icon i {
  background-image: url(../img/octicons-16.svg#view-stop);
}

.doc .admonitionblock.note td.icon i {
  background-image: url(../img/octicons-16.svg#view-info);
}

.doc .admonitionblock.tip td.icon i {
  background-image: url(../img/octicons-16.svg#view-light-bulb);
}

.doc .admonitionblock.warning td.icon i {
  background-image: url(../img/octicons-16.svg#view-alert);
}
