.themeSwitch {
  height: calc(var(--navbar-height) / 2.8);
  width: calc(var(--navbar-height) / 2.8);
  background: url(../img/mode-light.svg) no-repeat center;
}

[data-theme="dark"] .themeSwitch {
  background: url(../img/mode-dark.svg) no-repeat center;
  fill: var(--navbar-font-color);
}
