name: Build and Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 16.x
      uses: actions/setup-node@v1
      with:
        node-version: 16.x

    - name: Build
      run: |
        npm install
        node_modules/.bin/gulp bundle
        node_modules/.bin/gulp preview:build

    - name: Save bundle
      uses: actions/upload-artifact@v2
      with:
        name: bundle
        path: build/ui-bundle.zip
        retention-days: 5
    
    - name: Save preview
      uses: actions/upload-artifact@v2
      with:
        name: preview
        path: public
        retention-days: 5

  release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Download bundle
      uses: actions/download-artifact@v2
      with:
        name: bundle
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: ui-bundle.zip
        name: Build ${{ github.run_id }}
        tag_name: b${{ github.run_id }}
        draft: false
        body: Published by build ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

  publish:
    runs-on: ubuntu-latest
    needs: build
    # if: github.ref == 'refs/heads/master'
    steps:
    - name: Download bundle
      uses: actions/download-artifact@v2
      with:
        name: preview

    - name: Publish gh-pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
