name: Build and Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 16.x
      uses: actions/setup-node@v1
      with:
        node-version: 16.x

    - name: Build
      run: |
        npm install
        node_modules/.bin/gulp bundle

    - name: Save bundle
      uses: actions/upload-artifact@v2
      with:
        name: bundle
        path: build/ui-bundle.zip
        retention-days: 5

  release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Download bundle
      uses: actions/download-artifact@v2
      with:
        name: bundle
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: ui-bundle.zip
        name: ${{ github.ref }}
        tag_name: ${{ github.ref }}
        draft: false
